#login {
  margin: 11px;
  float: right;
}

.image {
  padding-left: 10px;
  padding-top: 5px;
}

table[Attributes Style] {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-spacing: 0px;
  width: 85%;
  background-color: rgb(246, 246, 239);
}

table {
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  color: -webkit-text;
  text-align: start;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
  font-family: Verdana;
  background-color: rgb(246, 246, 239);
}

tr {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr.header {
  background-color: rgb(255, 102, 0);
  border-spacing: 0px;
  border-color: rgb(255, 102, 0);
}

td {
  font-family: Verdana;
  font-size: 10pt;
  color: #828282;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
  border: 1px solid white;
}

element.style {
  width: 18px;
  padding-right: 4px;
}

table.side_menu {
  float: left;
  margin: 10px;
  border-collapse: separate;
  border-spacing: 2px;
  border: 2px solid gray;
  line-height: 15px;
  padding: 5px;
}

table.main {
  float: left;
  margin: 10px;

}

h2 {
  text-align: center;
  border: 2px solid;
  margin-left: 10px;
}

.body {
  word-wrap: break-word;
  width: 675px;
  max-width: 85%;
}

.sender {
  font-weight: bold;
}

.splash-title {
  text-align: center;
}

.splash-message {
  text-align: center;
}

.sign-in-button {
  text-align: center;
  padding-top: 10px;
}
